.block{
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  border-top: none;
  display: flex;
  flex-direction: column;
}

.wrap{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.elem {
  flex-grow: 0;
}